<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <connectionStrings>

    <add name="veritabanibaglantisi" connectionString="Server=DESKTOP-G7D3CE2;Database=Proje;User Id=sa;Password=1;"/>


  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>